$selectors-list : ('#indietro');

%back{
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    align-items: center;
}

%img{
    width: 60px;
    height: 60px;
}

//mixin for 'indietro' row
@mixin back(){
    $back-sel: nth($selectors-list,1);
    #{$back-sel}{
        @extend %back;
        img{
            @extend %img;
        }
    }
}