div#search{
    position: absolute;
}

div#search{
    top: 70px;
    left: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#search *{
    margin: 10px;
}

input#ricerca{
    padding: 5px;
    width: 700px;
}

input#submit{
    padding: 5px;
}