
div#carrello{
    position: absolute;
    top: 100px;
    left: 100px;
    height: 500px;
    width: 1000px;
    overflow: auto;

}

table{
    border-collapse: collapse;
}

tr:nth-child(2){
    border-top: 1px solid black;
}

tr {
    border-bottom: 1px solid black;
}

td{
    padding: 10px;
    text-align: center;
}

/*td{
    padding: 5px;
}


tr td{
    border-bottom: 1px solid black;
}*/
    

td.timg{
    height: 200px;
    width: 200px;
}

td.timg img{
    width: 100%;
    height: 100%;
}

p#null{
    text-align: center;
    font-size: 22px;
    font-weight : bold;
}