
form#conferma{
    margin-top: 90px;
    margin-left: 10px;
}

form#conferma div{
    margin: 10px;
}

div#buttons{
    display: flex;
    justify-content: space-evenly;
}

div#buttons input{
    padding: 10px;
}