
div#d1{
    width: 450px;
    padding: 20px;
}

fieldset#f1 div{
    margin: 10px;
}

fieldset#f1{
    height: 100%;
}

fieldset#f1, form#fContatti, form#fContatti>div{
    width: 100%;
}

textarea#messaggio{
    height: 200px;
    resize: none;
}

input#oggetto, textarea#messaggio{
    width: 70%;
}

form#fContatti>div:last-child{
    display: flex;
    justify-content: space-evenly;
}

form#fContatti>div:nth-last-child(2){
    display: flex;
    align-items: center;
}

input#invia, input#annulla{
    padding: 10px;
}