body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#indietro{
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    align-items: center;
}

img{
    width: 60px;
    height: 60px;
}

fieldset#dRecupera{
    padding: 50px;
    border: 1px solid black;
    width: 350px;
}

form{
    width: 100%;
    height: 100%;
}

form>div{
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
}

input[type=email]{
    width: 70%;
}

input[type=submit]{
    padding: 5px;
}