
$single-selectors: (
    'classes': (),
    'ids': (
        '#activate': (
            padding: 5px
        ),
        '#actCode': (
            width: 300px
        ),
        "#error-message": (
            margin-top: 20px,
            text-align: center,
            font-size: 22px,
            font-weight: bold
        ),
        '#f1': (
            margin-top: 20px
        )
    ),
    'tags': ()
);

$compound-selectors: (
    'fieldset div': (
        margin: 10px
    ),
    'fieldset div:first-child': (
        display: flex,
        justify-content: space-between
    ),
    'fieldset div:last-child': (
        display: flex,
        justify-content: center
    ),
    'fieldset div > *': (
        margin-right: 5px
    )
);