$container-min-width: 350px;
//$container-max-width: 1000px;

$single-selectors: (
    'classes' : (
    ),
    'ids': (
        '#fSearch': (
        ),
        '#homepage-carousel': (
            position: relative,
            margin: 75px auto
        ),
        '#ricerca' : (
            width: 70%,
        ),
        '#search': (
            position: relative,
            top: 70px,
            display: flex,
            justify-content: space-between,
            margin: '0 auto'
        )
    ),
    'tags': (
        'body': (
            min-width: $container-min-width
            //max-width: $container-max-width
        )
    )
);

$compound-selectors : (
    '#rAvanzata a': (
        white-space: nowrap
    ),
    '.carousel-item img': (
        position: relative,
        margin: 0 auto,
        width: 75%,
        height: 100%,
    ),
    '#homepage-carousel .carousel-item': (
        height: 55vh
    ),
    '#search *': (
        margin: 10px
    )
);