<?php

//This is the privacy.php example file

function cookieBanner(): string{
    return <<<HTML
<script type="text/javascript">
var _iub = _iub || [];
_iub.csConfiguration = {
    "askConsentAtCookiePolicyUpdate":true,
    "ccpaAcknowledgeOnDisplay":true,
    "consentOnContinuedBrowsing":false,
    "countryDetection":true,
    "enableCcpa":true,
    "enableLgpd":true,
    "floatingPreferencesButtonDisplay":"bottom-right",
    "invalidateConsentWithoutLog":"2023-01-31",
    "lgpdAppliesGlobally":false,
    "perPurposeConsent":true,
    "siteId":0, //Your site Id
    "whitelabel":false,
    "cookiePolicyId":0, //Your cookie policy Id
    "lang":"it", 
    "banner":{ 
        "acceptButtonDisplay":true,
        "closeButtonDisplay":false,
        "continueWithoutAcceptingButtonDisplay":true,
        "customizeButtonDisplay":true,
        "explicitWithdrawal":true,
        "listPurposes":true,
        "position":"float-top-center",
        "rejectButtonDisplay":true 
    },
    "callback": {
        "onReady": (consentGiven) => {
            /* console.log("Iubenda => onReady");
            console.log(consentGiven); */
        },
       "onBannerClosed": (preference) => {
            //console.log("Iubenda => onBannerClosed");
       },
       "onConsentGiven": () => {
            //console.log("Iubenda => onConsentGiven");
       },
       "onConsentFirstGiven": (str) => {
            /* console.log("Iubenda => onConsentFirstGiven");
            console.log(str); */
       },
       "onConsentRejected": () => {
            //console.log("Iubenda => onConsentRejected");
       },
       "onConsentFirstRejected": () => {
            //console.log("Iubenda => onConsentFirstRejected");
       },
       "onPreferenceExpressed": (preference) => {
            /* console.log("Iubenda => onPreferenceExpressed");
            console.log(preference); */
            let preferenceSetUrl = '/funzioni/preferences_set.php';
            let purposes = preference["purposes"];
            let set = new Set(Object.values(purposes)).size === 1;
            let postData = {};
            if(set){
               postData['option'] = 'accepted';
            }else{
               postData['option'] = 'rejected';
            }
            fetch(preferenceSetUrl,{
               method: 'POST',
               headers: {
                    'Content-Type': 'application/json', 
                    'Accept': 'application/json',
               },
               body: JSON.stringify(postData)
            }).then(res => {
               //console.log(res.text());
            }).catch(err => {
               console.warn(err);
            })
       },
       "onPreferenceFirstExpressed": (preference) => {
            /* console.log("Iubenda => onPreferenceFirstExpressed");
            console.log(preference); */
       },
       "onConsentRead": () => {
            //console.log("Iubenda => onConsentRead");
       },
       "onActivationDone": () => {
            //console.log("Iubenda => onActivationDone");
       },
       "onBeforePreload": () => {
            //console.log("Iubenda => onBeforePreload");
       },
       "onError": (error) => {
            //console.error("Iubenda => onError");
            //console.error(error);
       },
       "onFatalError": (fatalError) => {
            //console.error("Iubenda => onFatalError");
            //console.error(fatalError);       
       }
    },
    "preferenceCookie": {
          "expireAfter": 365
    }
    };
</script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/ccpa/stub.js"></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
HTML;
}
?>