$single-selectors: (
    'classes' : (
        '.my-container': (
            min-width: 350px
        )
    ),
    'ids': (
        '#formReg': (
            padding-top: 80px,
            padding-left: 20px,
            padding-right: 20px,
            padding-bottom: 20px,
            width: 70%,
            margin: '0 auto'
        ),
    ),
    'tags' : (
    )
);

$compound-selectors : (
    '.radios div': (
        display: flex,
        align-items: center
    ),
    '.radios div *': (
        margin-right: 5px
    ),
    '#formReg>div': (
        margin: 5px
    ),
    '#formReg input': (
        margin: 2px
    ),
    '#formReg label': (
        margin: 2px
    )
);