$single-selectors: (
    'classes': (),
    'ids': (
        '#d1':(
            width: 50%,
            margin: '0 auto',
            padding: 20px,
            min-width: 400px
        ),
        '#messaggio': (
            height: 200px,
            resize: none
        )
    ),
);

$compound-selectors: (
    '#annulla, #invia':(
        padding: 10px
    ),
    '#messaggio #oggetto': (

    )
);

$contacts-vals: (
    'form': (
        'id': '#fContatti',
        'children': 3
    )
);