.env
.vscode
paypal_esempiorichiesta.json
paypal_pagasubito.json
paypal.json
prodotti.json
*.txt
funzioni/*.txt
tables
node_modules
vendor/
css/*/*.css
css/*/*.map
js/*/*.js
js/*/*/*.js
!js/dialog/dialog.js
partials/privacy*

