Options -Indexes

#RedirectMatch 403 "/exceptions/.*"
#RedirectMatch 403 "/interfaces/.*"
#RedirectMatch 403 "/objects/.*"
#RedirectMatch 403 "/partials/.*"
#RedirectMatch 403 "/traits/.*"
#RedirectMatch 403 "/vendor/.*"

<FilesMatch "^\.">
    #Order deny,allow
    #Deny from all
</FilesMatch>

#deny access to .scss, .scss and .ts Typescript files
<Files ~ "(.scss|.ts|.txt|.json|.md)$">
    Order deny,allow
    Deny from all
</Files>

Options +SymLinksIfOwnerMatch
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]