@use "../modules/globals";

@mixin footer-style(){
    #{$footer-class}{
        background: $gradient;
        margin: $margin;
        padding: $padding;
        width: $width;
        display: flex;
        flex-direction: column;
        div.container{
            div.row{
                text-align: center;
                margin: 10px 0px;
            }
        }
        @include policy-container();
    }
}

@mixin policy-container(){
    div#{$policy-container}{
        display: flex;
        $xs-breakpoint: globals.breakpoint-pixels('xs');
        $md-breakpoint: globals.breakpoint-pixels('md');
        @debug $md-breakpoint;
        @media only screen and (min-width: #{$md-breakpoint}){
            justify-content: space-evenly;
        }
        @media only screen and (min-width: #{$xs-breakpoint}){
            flex-direction: column;
        }
        >div{
            padding: 10px 5px;
            text-align: center;
        }
    }
}

