$single-selectors: (
    'classes': (
    ),
    'ids': (
        '#divButtons': (
            display: flex,
            justify-content: space-evenly,
            margin-top: 20px
        ),
        '#fAvanzata':(
            margin-left: 10px
        ),
        '#risultato': (
            width: 80%,
            min-width: 450px,
            overflow: auto,
            position: relative,
            margin: 0 auto,      
        )
    ),
    'tags': (

    )
);

$compound-selectors: ();

$breakpoint-xsm: 575px;
$breakpoint-sm: 767px;
$breakpoint-gt: 768px;