%width100{
    width: 100%
}

%flex-center{
    display: flex;
    justify-content: center;
    align-items:center;
}


$single-selectors: (
    'classes': (),
    'ids': (
        '#container1': (
            margin-top: 70px,
            margin-left: 10px,
            display: flex,
            justify-content: space-between
        ),
        '#descrizione': (
            display: flex,
            flex-direction: column
        ),
        '#immagine': (
            height: 300px
        ),
        '#messaggio': (
            height: 200px,
            width: 70%,
            min-width: 300px,
            resize: none
        )
    ),
    'tags': ()
);

$compound-selectors: (
    'div.info, div.container': (
        margin: 5px
    ),
    'fieldset div': (
        margin: 10px
    ),
    '#immagine, #dInfo1': (
        width: 49%,
        min-width: 400px
    ),
    'input[type=text]': (
        width: 70%,
        min-width: 300px
    )
    
);