//This patials is used in some of scss files

@mixin animation($map){
    animation-name: map-get($map, "name");
    animation-duration: map-get($map, "duration");
    animation-delay: map-get($map, "delay");
    animation-direction: map-get($map, "direction");
    animation-fill-mode: map-get($map, "fill-mode");
    animation-iteration-count: map-get($map, "count");
    animation-timing-function: map-get($map, "timing-function");
}

