//This patials is used in some of scss files
$container-class: unquote(".my-container");
$initial-container-top: 30px;

@mixin animation($map){
    animation-name: map-get($map, "name");
    animation-duration: map-get($map, "duration");
    animation-delay: map-get($map, "delay");
    animation-direction: map-get($map, "direction");
    animation-fill-mode: map-get($map, "fill-mode");
    animation-iteration-count: map-get($map, "iteration-count");
    animation-timing-function: map-get($map, "timing-function");
}

@mixin fade-opacity-animation($class, $initial-top){
    @keyframes fadeOpacity {
        0%{opacity: 0; top: $initial-top;}
        100%{opacity: 1; top: 0px;}
    }
    $fo-animation-map: (
        "name": fadeOpacity,
        "duration": 1.5s,
        "delay": 0s,
        "direction": normal,
        "fill-mode": forwards,
        "iteration-count": 1,
        "timing-function": linear
    );
    #{$class}{
       position: relative;
       top: $initial-top;
       @include animation($fo-animation-map); 
    }
    
}