
$single-selectors: (
    'classes': (),
    'ids': (
        '#buttons': (
            display: flex,
            justify-content: space-evenly
        ),
        '#cond': (
            display: flex,
            align-items: center
        ),
        '#description':(
            height: 200px,
            resize: vertical
        ),
        '#insertion': (
            width: 80%,
            margin: '0 auto'
        ),
        '#name': (
            min-width: 300px,
            height: 50px,
            resize: none
        )
    ),
    'tags': (
        'h1': (
            width: 100%,
            text-align: center
        ),
        'label': (
            width: 20%,
            min-width: 150px
        ),
        'legend': (
            width: 100%,
            text-align: center
        )
    )
);

$compound-selectors: (
    'div#cond div': (
        margin: 0
    ),
    'div#cond div:first-child': (
        width: 20%,
        min-width: 150px
    ),
    'fieldset div:not(#cond)': (
        margin: 10px,
        display: flex,
        align-items: center
    ),
    'fieldset div *:not(#cond)': (
        margin: 5px
    ),
    'form,fieldset div': (
        width: 100%
    ),
    'button[type=submit],button[type=reset]': (
        padding: 5px,
        width: 100px
    )

);