$single-selectors: (
    'classes': (
        '.error': (
            text-align: center,
            font-size: 22px,
            font-weight: bold
        ),
        '.timg': (
            height: 200px,
            width: 200px
        )
    ),
    'ids': (
        '#risultato': (
            width: 100%,
            min-width: 300px,
            margin-top: 10px,
            height: 100%,
            min-height: 500px,
            overflow: auto,
            border: 1px solid black
        )
    ),
    'tags': (
        'table': (
            width: 100%
        )
    )
);

$compound-selectors: (
    'td.timg img': (
        width: 100%,
        height: auto
    )
);