$single-selectors: (
    'classes' : (

    ),
    'ids' : (
        '#container2': (
            margin: '70px auto',
            display: flex,
            flex-direction: column,
            width: 50%,
            min-width: 300px
        )
    ),
    'tags' : (
        'h1' : (
            display: block,
            width: 100%,
            text-align: center
        )
    )
);

$compound-selectors: (
    'form div': (
        margin: 5px
    ),
    'input[type=text], input[type=password]': (
        width: 100%,
        min-width: 300px
    )
);