$single-selectors: (
    'classes': (
    ),
    'ids': (
        '#back':(
            margin-top: 70px,
            margin-left: 100px,
            font-size: 25px
        ),
        '#risultato': (
            width: 80%,
            min-width: 450px,
            overflow: auto,
            position: relative,
            margin: 0 auto,      
        )
    ),
    'tags': (
    )
);

$compound-selectors: (
    'td.timg': (
        height: 200px,
        width: 200px
    ),
    'td.timg img': (
        width: 100%
    ),
    'td, th': (
        padding: 5px,
        vertical-align: middle
    )
);