$single-selectors: (
    'classes': (),
    'ids': (
        '#d1':(
            width: 50%,
            min-width: 400px
        ),
        '#messaggio': (
            height: 200px,
            resize: none
        )
    ),
);

$compound-selectors: (
    '#annulla, #invia':(
        padding: 10px
    ),
    '#messaggio #oggetto': (
        
    )
);