$single-selectors: (
    'classes' : (
        '.after-form': (
            margin: 5px,
            display: flex,
            justify-content: center
        ),
        '.form-check' : (

        )
    ),
    'ids': (
        '#formLogin': (
            padding: 20px,
            margin: '0 auto',
            width: 65%
        )
    )
);

$compound-selectors : (
    'body .my-container': (
        width: 75%,
        min-width: 450px,
        margin: '0 auto'
    ),
    '#formLogin * ': (
        margin: 10px,
    ),
    '#formLogin > div': (
        width: 100%
    ),
    '#formLogin > div:nth-of-type(4)': (
        display: flex,
        justify-content: center,
    ),
    '#formLogin > div:nth-of-type(4) *': (
        margin: 0px 20px
    )
);