@use 'sass:list';
@use '../modules/globals';

$single-selectors: (
    list.nth(globals.$selector-types-list,1): (),
    list.nth(globals.$selector-types-list,2): (
        '#f1': (
            margin-top: 70px,
            margin-left: 10px,
            justify-content: center
        )
    ),
    list.nth(globals.$selector-types-list,3): ()
);

$compound-selectors: (
    '#f1 p':(
        margin-top: 20px,
        font-weight: bold,
        font-size: 18px
    )
)